.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  color: #f5e6d3;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  background: #c8a97e;
  border: none;
  border-radius: 10px;
}